.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  gap: 2em;
}

.container h1 {
  font-size: 2.5em;
}

.container span {
  background-color: black;
  color: #ffbb33;
  padding: 0.2em;
  border-radius: 10px;
}

.container p {
  color: gray;
}

.container img {
  width: 500px;
  margin: auto;
}
