.form__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form__control label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.form__control input {
  padding: 0.7em;
  border-radius: 0px;
  border: solid;
}

.form__control input::placeholder {
  color: lightgray;
}
